script(src='http://code.jquery.com/jquery-1.11.3.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js')
script(src='js/main.js')
