extends layout

block content
  include partials/submitform

  section#angular-reports.reports(ng-controller='reportListCtrl')
    ul.nav.nav-pills(role='tablist')
      li(ng-repeat='report in reports track by $index', role='presentation', ng-controller='reportCtrl')
        a.report-name(ng-click='showreport(report)', ng-class='{active: report.selected}') {{ report.name.replace('.json', '') }}
          span.badge {{ report.reportData.length }}

    .row(ng-repeat='report in reports track by $index')
      .col-xs-12(ng-class="{hidden: !report.selected}")
        ul.issues
          include partials/issue

